asgiref==3.8.1
certifi==2024.6.2
charset-normalizer==3.3.2
contourpy==1.2.1
cycler==0.12.1
Django==5.0
et-xmlfile==1.1.0
fonttools==4.53.1
idna==3.7
kiwisolver==1.4.5
openpyxl==3.1.5
packaging==24.1
pillow==10.4.0
psycopg2-binary==2.9.9
pyjokes==0.6.0
PyOpenGL==3.1.7
pyparsing==3.1.2
python-dateutil==2.9.0.post0
requests==2.32.3
six==1.16.0
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.2
